.cont_skill{
    background-color: black;
    color: white;
    height: max-content
}
.row_skill{
    height: max-content;
}
.caja_Skill{
    width: max-content;
    background: transparent;
}
.col_Skill{
    height: max-content;
}

i{
    font-size: 2rem;
}

.html:hover{
    transition: .2s all;
    color: #F16529;
}

.react:hover{
    transition: .2s all;
    color: #61DBFB;
}

.js:hover{
    transition: .2s all;
    color:#F0DB4F
}

.angular:hover{
    transition: .2s all;
    color:#dd1b16
}

.python:hover{
    transition: .2s all;
    color: rgba(48,105,152,1);
}

.php:hover{
    transition: .2s all;
    color:#787CB5
}

