.content_tarjet{
    margin-top: 3%;
}

.card{
   padding: 3%;
    border: 0px;

}

.cont_img{
    background-color: blue;
    color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 90px;  
    position: relative;
    left: 42%;
}

.card-title{
    font-size: 2em;
}