.row_tarjet{
    margin: 0px;
    padding: 0px;
    height: max-content;
}
.content_tarjet{
    margin-top: 1%;
}

.card{
   padding: 3%;
   border: 0px;
   border: 1px solid #581845;
   margin-top: 20px;

}

.cont_img{
    background-color: #581845;
    color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 90px;  
    position: relative;
    left: 42%;
}

.card-title-terjet{
    font-size: 2em;
}

@media (max-width: 769px) { 
    .card-title-terjet{
        font-size: 1.6em;
    }

    .cont_img{
        left: 31%;
    }
}

@media (max-width: 769px) { 
    .card-title-terjet{
        font-size: 1.6em;
    }

    .cont_img{
        left: 40%;
    }
}