.cont_portfolio{
    text-align: center;
}
.card_portfolio{
    cursor: pointer;
    border: 0px white;
}

.row_portfolio{
    height: max-content;
}

.link,.link:hover{
    text-decoration: none;
    color: black;
}

.col_portfolio{
    padding: 0 3%;
    height: max-content;
}

.title_portfolio{
    font-size: 2rem;
    font-weight: inherit;
}
.card-body{
    text-align: start;
}