.row{
    width: 100%;
    padding: 0px !important;
    height: 100vh;
}
.cont_texto_peque{
    visibility: hidden;
}
.fondo_left{
    background-color: #581845;
    color: white;
    text-align: end;
    padding: 40vh 5px 0 0;
}

h1{
    font-size: 6.1rem;
}

.fondo_right{
    padding: 40vh 0 0 0px;

}

.backend{
    color: black;
}

.profesion{
    font-size: 3rem;
    font-weight: 400;
}

.developer{
    color: #581845;
}

.btn_down{
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    background-color: #581845;
    color: white;
    border: 1px solid white;
}
.btn_down:hover{
    transition: .5s all;
    background-color: white;
    color: #581845;
    border: 1px solid #581845;
}
.cont_btn{
    position: absolute;
    top: 90vh;
    text-align: center;
}

@media (max-width: 768px) { 
    h1{
        font-size: 4.1rem;
    }
}

@media (max-width: 767px) { 
    .fondo_left{
        padding: 0px;
        text-align: center;
    }
    .fondo_right{
        padding: 0px;
        text-align: center;
    }
    .cont_texto{
        visibility: hidden;
        height: 1px;
    }
    .cont_texto_peque{
        visibility: visible;
    }
}



/* .cont{
    padding: 0px;
    margin: 0px;
    
}

.cont-text{
    padding: 0px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cont_hero{
    background-color: black;
    color: white;
    padding-top: 10%;
    background-image: url("./../../../assets/img/negro.png");
    background-repeat: no-repeat;
    background-size: 130%;
    height: 545px;
}

.btn_down{
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.cont_btn{
    position: relative;
    top: 40%;
    text-align: center;
}
.btn_down:hover{
    color: black;
    background-color: white;
    transition: .5s all;
}
 */
